$dark: #2E2D3B;
$lightDark: #656565;
$white: #ffffff;
$orange: #FFB15B;
$yellow: #FBF7ED;
$gray: #F6F6F6;
$darkGray: #FBF7ED;
$tr: transparent;

.color-dark {
  color: $dark;
}
.color-lightDark {
  color: $lightDark;
}
.color-white {
  color: $white;
}
.color-orange {
  color: $orange;
}
.color-gray {
  color: $gray;
}
.color-darkGray {
  color: $darkGray;
}
.color-tr {
  color: $tr;
}