$font-Regular: 'Circe-Regular';
$font-ExtraLight: 'Circe-ExtraLight';
$font-Thin: 'Circe-Thin';
$font-Light: 'Circe-Light';
$font-Bold: 'Circe-Bold';
$font-ExtraBold: 'Circe-ExtraBold';

.font-Regular { font-family: $font-Regular; }
.font-ExtraLight { font-family: $font-ExtraLight; }
.font-Thin { font-family: $font-Thin; }
.font-Light { font-family: $font-Light; }
.font-Bold { font-family: $font-Bold; }
.font-ExtraBold { font-family: $font-ExtraBold; }